.mt-5 {
    margin-top: 5px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mlr-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.btn {
    background-color: transparent !important;
    border: none !important;
    color: none !important;
}

.sm {
    width: 5px !important;
}

.wide-btn15 {
    width: 150px !important;
}

.wide-btn10 {
    width: 100px !important;
}

.comment-box {
    display: none;
}