{% extends "main/main_layout.html" %}
{% load static %}

{% block title %}
    sosmed
{% endblock title %}

{% block style %}
  
{% endblock style %}

{% block content %}

    <h3>sosmed</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate est repellat quibusdam, laboriosam accusantium cupiditate quidem quae officiis quos quo laborum a! Rem ullam officiis provident ex. Facilis, rem voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate est repellat quibusdam, laboriosam accusantium cupiditate quidem quae officiis quos quo laborum a! Rem ullam officiis provident ex. Facilis, rem voluptates?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe modi delectus veniam voluptatum qui minima, eius maxime odit accusamus quod unde cupiditate dolores maiores nemo expedita sapiente porro possimus repellendus!</p>
    
{% endblock content %}

{% block script %}
    
{% endblock script %}